<style>
 
    .PaddingTop{
        padding-top: "100px";
        }
    .PaddingHeader
    {
        padding-left: 10px;
    }
    .footer {
        position: fixed;
        background-color: darkgray;
        color: black;
        text-align: center;
    }
  
     #btn-danger{
      background-color:rgb(249, 25, 66);
      color: rgb(255, 255, 255)
    }
    
  
  </style>
  <div class="row">
   
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Add ASN Information</h3>
        <div class="tile-body">
          <form class="form-horizontal" [formGroup]="confirmPoList" (ngSubmit)="onFormSubmit(TimezoneServer.value,$event)">
          <!-- <form class="form-horizontal"> -->
              <div class="col-lg-6">
                    <div class="form-group row">
                            <label class="control-label col-md-3">ASN No</label>
                            <div class="col-md-8">
                              <input class="form-control" formControlName="lrNo" type="text" placeholder="Enter full name">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="control-label col-md-3">ASN Date</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="lrNo" type="text" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="control-label col-md-3">Shipping No</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="shippingNo" type="text" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="control-label col-md-3">Shipping Date</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="ASNDt" type="text" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="control-label col-md-3">Invoice NO</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="invoiceNo" type="text" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="control-label col-md-3">Invoice Date</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="invoiceDate" type="text" placeholder="Enter full name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="control-label col-md-3">Division</label>
                              <div class="col-md-8">
                                <input class="form-control" formControlName="division" type="text" placeholder="Enter full name">
                              </div>
                            </div>
              </div>
              <div class="col-lg-6">
                    <div class="form-group row">
                            <label for="exampleSelectbuyer">Buyer </label>
                            <select class="form-control" formControlName="buyer" id="exampleSelectBuyer">
                              <option>--  Select Buyer --</option>
                              <option *ngFor="let buyer of buyerList" [value]="buyer.name"> {{buyer.name}}</option>
                              
                            </select>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3">Email ID</label>
                            <div class="col-md-8">
                              <input class="form-control" formControlName="emailId" type="email" placeholder="Enter full name">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3">Our Receipt No</label>
                            <div class="col-md-8">
                              <input class="form-control" formControlName="OurReceiptNo" type="text" placeholder="Enter full name">
                            </div>
                          </div>
                        <div class="form-group row">
                          <label class="control-label col-md-3">Delivery Challan No</label>
                          <div class="col-md-8">
                            <input class="form-control col-md-8" formControlName="deliveryChallanNo" type="text" placeholder="Enter email address">
                          </div>
                        </div>
            
                        <div class="form-group row">
                            <label class="control-label col-md-3">Transporter Name</label>
                            <div class="col-md-8">
                              <input class="form-control col-md-8" formControlName="transporterName" type="text" placeholder="Enter email address">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3">LR no</label>
                            <div class="col-md-8">
                              <input class="form-control col-md-8" formControlName="lrNo" type="text" placeholder="Enter email address">
                            </div>
                          </div>
              </div> 
          </form>
        </div>
        <div class="tile-footer">
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearix"></div>
    
  </div>
 