
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-edit"></i> Pending Order List</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item"><a href="#">Pending Order List</a></li>
    </ul>
  </div>
 
  <ng-container *ngIf="ShowPendingPoList">    
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
              <!-- <h3 class="tile-title">Pending PO Orders</h3> -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let displayedColumn of displayedColumns">{{displayedColumn}}</th>                        
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let po of poDetails">
                      <td><input type="checkbox" (change)="onCheckChange($event,po)"/></td>
                      <td>{{po.PoNo}}</td>
                      <td>{{po.SchdSrNo}}</td>
                      <td>{{po.ItemDesc}}</td>
                      <td>{{po.Rate}}</td>
                      <td>{{po.LineQty}}</td>
                      <td>{{po.SchdQty}}</td>
                      <td>{{po.SchdBalQty}}</td>
                      <td>{{po.ItemAmt}}</td>
                      <td>{{po.SchdBalQty}}</td>
                      <td>{{po.ItemAmt}}</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tile-footer">
              <div class="row">
                <div class="col-lg-2">
                <button _ngcontent-c3="" class="btn btn-primary" type="button" (click)="onSubmitSelectedPoList()">Next</button>
                </div>
                <div class="col-lg-1 col-lg-1 col-lg-offset-3">
                <button _ngcontent-c3="" class="btn btn-danger" type="button">Cancel</button></div>
                </div>
            </div>
    </div>
</ng-container>
  <ng-container *ngIf="SelectedPendingPoList">
    <div class="row">
      <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Selected pending Orders</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>                    
                    <th *ngFor="let displayedColumn of displayedColumns">{{displayedColumn}}</th>                        
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let po of poSelectedList">               
                    <td>{{po.PoNo}}</td>
                    <td>{{po.SchdSrNo}}</td>
                    <td>{{po.ItemDesc}}</td>
                    <td>{{po.Rate}}</td>
                    <td>{{po.LineQty}}</td>
                    <td>{{po.SchdQty}}</td>
                    <td>{{po.SchdBalQty}}</td>
                    <td>{{po.ItemAmt}}</td>
                    <td>{{po.DiscAmt}}</td>
                    <td>{{po.Amount}}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tile-footer">
            <div class="row">
              <div class="col-lg-2">
              <button _ngcontent-c3="" class="btn btn-primary" type="button" (click)="onSubmitPOList()">Submit</button>
              </div>
              <div class="col-lg-1 col-lg-1 col-lg-offset-3">
              <button _ngcontent-c3="" class="btn btn-danger" type="button">Cancel</button></div>
              </div>
          </div>
  </div>
    </ng-container>
        
  </main>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->