
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-edit"></i> Create ASN</h1>
      <p>ASN Creation</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item"><a href="#">Asn Creation</a></li>
    </ul>
  </div>
  <form [formGroup]="frmAsnCreation" (ngSubmit)="onFormSubmit(frmAsnCreation.value)">
  <div class="row">
      
    <div class="col-md-12">
      <div class="tile">
        <div class="row">
          <div class="col-lg-6">
           
              <div class="form-group">
                <label for="exampleInputASNNo">ASN No.</label>
                <input class="form-control" formControlName="ASNNo"  id="exampleInputAsnNo"  aria-describedby="emailHelp" placeholder="Enter ASN No">
              </div>
              <div class="form-group">
                <label for="exampleInputASNDate">ASN Date</label>
                <input class="form-control" formControlName="ASNDt" id="exampleInputASNDate" type="Vendor Name" placeholder="Enter ASN Date">
              </div>
              <div class="form-group">
                <label for="exampleInputShippingNo">Shipping No</label>
                <input class="form-control" formControlName="shippingNo" id="exampleInputShippingNo" type="Vendor Name" placeholder="Enter Shipping No">
              </div>
              <div class="form-group">
                <label for="exampleInputInvoiceDate">Shipping Date</label>
                <input class="form-control" formControlName="shippingDt" id="exampleInputUserName" type="Vendor Name" placeholder="Enter Shipping Date">
              </div>
              <div class="form-group">
                <label for="exampleInputInvoiceNo">Invoice NO</label>
                <input class="form-control" formControlName="invoiceNo" id="exampleInputUserName" type="Vendor Name" placeholder="Enter Invoice No">
              </div>
              <div class="form-group">
                <label for="exampleInputInvoiceDate">Invoice Date</label>
                <input class="form-control" formControlName="invoiceDate" id="exampleInputUserName" type="Vendor Name" placeholder="Enter Invoice Date">
              </div>
             
              
             
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox">Is Active
                </label>
              </div>
          </div>
          <div class="col-lg-6">            
            <div class="form-group">
              <label for="exampleInputDivision">Division</label>
              <input class="form-control" formControlName="division" id="exampleInputPassword"  placeholder="Enter Division">
            </div>
            <div class="form-group">
              <label for="exampleSelectbuyer">Buyer </label>
              <select class="form-control" formControlName="buyer" id="exampleSelectBuyer">
                <option>--  Select Buyer --</option>
                <option *ngFor="let buyer of buyerList" [value]="buyer.name"> {{buyer.name}}</option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email ID</label>
              <input class="form-control" formControlName="vendorEmail" id="exampleInputEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email"><small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputOurReceiptNo">Our Receipt No</label>
              <input class="form-control" formControlName="OurReceiptNo"  id="exampleInputOurReceiptNo"  aria-describedby="emailHelp" placeholder="Enter Our Receipt No">
            </div>          
          <div class="form-group">
            <label for="exampleInputDeliveryChallanNo">Delivery Challan No</label>
            <input class="form-control" formControlName="deliveryChallanNo"  id="exampleInputMobileNo"  aria-describedby="emailHelp" placeholder="Enter Delivery Challan No">
          </div>                
        <div class="form-group">
          <label for="exampleInputTRansporterName">Transporter Name</label>
          <input class="form-control" formControlName="transporterName"  id="exampleInputMobileNo"  aria-describedby="emailHelp" placeholder="Enter Transporter Name">
        </div>    
      
      <div class="form-group">
        <label for="exampleInputLrNo">LR no</label>
        <input class="form-control" formControlName="lrNo"  id="exampleInputLrNo"  aria-describedby="emailHelp" placeholder="Enter LR No">
      </div>
    </div>

        </div>
        <div class="tile-footer">
          <div class="row">
              <div class="col-lg-1 col-lg-offset-5">
                  <button _ngcontent-c3="" class="btn btn-success" type="button">Confirm</button>
            </div>
            <div class="col-lg-1">
            <button _ngcontent-c3="" class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="col-lg-1">
            <button _ngcontent-c3="" class="btn btn-danger" type="button">Cancel</button></div>
            </div>
        </div>
      </div>
    </div>
    
  </div>
</form>
</main>