
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-edit"></i> Vendor Registration</h1>
      <!-- <p>ASN Vendor Registration</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item"><a href="#">Vendor Registration</a></li>
    </ul>
  </div>
  <form [formGroup]="VendorRegistration" (ngSubmit)="onFormSubmit(VendorRegistration.value)">
  <div class="row">
      
    <div class="col-md-12">
      <div class="tile">
        <div class="row">
          <div *ngIf="successWarning" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Record Added Successfully
          </div>
          <div *ngIf="alertWarning" class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Somethig Went Wrong 
            </div>
          <div class="col-lg-6">
           
              <div class="form-group">
                <label for="exampleInputEmail1">Vendor Code</label>
                <input class="form-control" formControlName="vendorCode"   id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter Vendor Code">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Vendor Name</label>
                <input class="form-control" formControlName="vendorName" id="exampleInputPassword1" type="Vendor Name" placeholder="Vendor Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email ID</label>
                <input class="form-control" formControlName="vendorEmail" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email"><small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile Number</label>
                <input class="form-control" formControlName="vendorMobileNo"  id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter MobileNo">
              </div>
              <div class="form-group">
                <label for="exampleSelect1"> Buyer Slect</label>
                <select class="form-control" formControlName="vendorBuyer" id="exampleSelect1">
                  <option>--  Select Access --</option>
                  <option *ngFor="let access of buyerList" [value]="access.UserName"> {{access.UserName}}</option>
                  
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Buyer Email ID</label>
                <input class="form-control" formControlName="vendorBuyerEmail" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Buyer Enter email"><small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleSelect1"> Division</label>
                <select class="form-control" formControlName="vendorDivision" id="exampleSelect1">
                  
                    <option>--  Select Division --</option>
                    <option *ngFor="let access of AAccess" [value]="access.name"> {{access.name}}</option>
                    
                  </select>
              </div>
          </div>
          
        </div>
        <div class="tile-footer">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </div>
    
  </div>
</form>
</main>