
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-edit"></i> User Registration</h1>
        <p></p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">User Registration</a></li>
      </ul>
    </div>
    <form [formGroup]="UserRegistration" (ngSubmit)="onSubmit()">
    <div class="row">
        
      <div class="col-md-12">
        <div class="tile">
          <div class="row">
            <div class="col-lg-6">
             
                <div class="form-group">
                  <label for="exampleInputUserCode">User ID</label>
                  <input class="form-control" formControlName="userCode"  id="exampleInputUserCode" type="email" aria-describedby="emailHelp" placeholder="Enter User Code">
                </div>
                
                    <div class="form-group">
                      <label for="exampleInputUserName">Username</label>
                      <input class="form-control" formControlName="userName" id="exampleInputUserName" type="Vendor Name" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email ID</label>
                        <input class="form-control" formControlName="emailId" id="exampleInputEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email"><small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMobileNo">Mobile Number</label>
                        <input class="form-control" formControlName="mobileNo"  id="exampleInputMobileNo" type="number" aria-describedby="emailHelp" placeholder="Enter MobileNo">
                      </div>
                    
                    <div class="form-group">
                        <label for="exampleSelectUsrRole"> User Role</label>
                        <select class="form-control" formControlName="userRole" id="exampleSelectUsrRole">
                          <option>--  Select User Role --</option>
                          <option *ngFor="let user of UserRoles" [value]="user.id"> {{user.name}}</option>
                        </select>
                      </div>
                <!-- <div class="form-group">
                  <label for="exampleInputFullName">User Full Name</label>
                  <input class="form-control" formControlName="userFullName" id="exampleInputFullName" type="Vendor Name" placeholder="User Full Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputDisplayName">Display Name</label>
                  <input class="form-control" formControlName="displayName" id="exampleInputDisplayName" type="Vendor Name" placeholder="Enter Display Name">
                </div> -->
                  <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input class="form-control" formControlName="password" id="exampleInputPassword" type="password" placeholder="Enter Password">
                 </div>   
                <!-- <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">Is Active
                  </label>
                </div> -->
            </div>
          
           
              
          
             
            
          </div>
          <div class="tile-footer">
            <div class="row">
              <div class="col-lg-1 col-lg-offset-5">
              <button _ngcontent-c3="" class="btn btn-primary" type="submit">Submit</button>
              </div>
              <div class="col-lg-1">
              <button _ngcontent-c3="" class="btn btn-danger" type="button">Cancel</button></div>
              </div>
          </div>
        </div>
      </div>
      
    </div>
  </form>
  </main>